@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: #0d192c;
  height: 667px;
  width: 375px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 543px;
  width: 327px;
  left: 24px;
  top: 62px;
  border-radius: 15px;
  background: rgba(21, 38, 63, 1);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.0953);
}

.equilibrium-image {
  background-image: url('./images/image-equilibrium.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1.5rem auto;
  height: 278px;
  width: 278px;
  border-radius: 8px;
}
